.image-block {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  margin-right: 56px;

  @media (max-width: 400px) {
    max-width: 100vw;
    width: 100vw;
    margin-right: 0;
    margin-bottom: 36px;
  }
  .main-image-block {
    z-index: 2;
    grid-row-start: 1;
    grid-column-start: 1;
    display: flex;
    align-items: center;
    justify-content: center;;

    .image-wrapper {
      position: relative;
      img {
        @media (max-width: 400px) {
          max-height: 500px;
        }
      }
    }
  }

  .background-image {
    z-index: 1;
    grid-row-start: 1;
    grid-column-start: 1;

    @media (max-width: 400px) {
      max-width: 100vw;
      padding: 0 7px;
    }
  }
}