<template>
  <div class="image-block">
    <div class="main-image-block" v-if="product">
      <div class="image-wrapper">
        <img :src="product.picture" alt="#" />
        <tippy-ellipse
          v-for="(point, pointI) in product.points"
          :key="point.id"
          :point="point"
          :is-active="isPointActive(pointI)"
          @change-state="
            () => {
              changePointState(point, pointI);
            }
          "
        />
      </div>
    </div>
    <img class="background-image" :src="backgroundPicture" alt="#" />
  </div>
</template>

<script setup>
import TippyEllipse from "../TippyElipse/TippyEllipse.vue";
import { getBrandInfo } from "../../services/fakeApi";
import { useUIStore } from "../../stores/UI";
import isFalsy from "../../helpers/isFalsy";
import { onMounted, ref, watch } from "vue";

const backgroundPicture = ref(null);
const product = ref(null);
const selectedPoint = ref(null);
const UIStore = useUIStore();

const setProduct = () => {
  const currentProduct = UIStore.availableProducts[0];
  selectedPoint.value = {
    ...currentProduct.points[0],
    index: 0,
  };
  product.value = currentProduct;
};
const setBaseSelectedPoint = (point) => {
  selectedPoint.value = {
    ...point,
    index: 0,
  };
};
const setBackgroundPicture = () => {
  backgroundPicture.value = getBrandInfo(
    UIStore.selectedBrand.id
  ).backgroundPicture;
};
const initImageBlock = () => {
  setProduct();
  setBaseSelectedPoint(product.value.points[0]);
  setBackgroundPicture();
};
const isPointActive = (pointI) => {
  if (!selectedPoint.value) return false;
  return pointI === selectedPoint.value.index;
};
const changePointState = (point, pointI) => {
  if (!selectedPoint.value || selectedPoint.value?.index !== pointI)
    selectedPoint.value = { ...point, index: pointI };
  else selectedPoint.value = null;
};

onMounted(() => {
  if (!isFalsy(UIStore.availableProducts)) initImageBlock();
});

watch(
  () => UIStore.availableProducts,
  () => {
    initImageBlock();
  }
);
</script>

<style src="./ImageBlock.scss" />
