<template>
  <div class="home-page">
    <div class="home-page-content">
      <div class="home-page-header-container">
        <div class="home-page-header">уникальные бутылки</div>
      </div>
      <filters-block v-if="selectedBrand" />
      <image-block v-if="availableProducts.length" />
      <brands-block />
    </div>
  </div>
</template>

<script setup>
import ImageBlock from "../components/ImageBlock/ImageBlock.vue";
import FiltersBlock from "../components/FiltersBlock/FiltersBlock.vue";
import BrandsBlock from "../components/BrandsBlock/BrandsBlock.vue";
import { useUIStore } from "../stores/UI";
import { computed } from "vue";

const UIStore = useUIStore();
const availableProducts = computed(() => UIStore.availableProducts);
const selectedBrand = computed(() => UIStore.selectedBrand);
</script>

<style src="./HomeView.scss" />
