.home-page {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 400px) {
    padding-bottom: 94px;
  }

  .home-page-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 60px;
    @media (max-width: 400px) {
      padding-top: 88px;
    }

    .home-page-header-container {
      position: absolute;
      top: 0;
      left: 0;

      @media (max-width: 400px) {
        top: 48px;
        left: 20px;
      }
      .home-page-header {
        max-width: 450px;
        font-weight: 700;
        font-size: 42px;
        line-height: 54px;
        text-transform: uppercase;
        color: var(--dark_blue);

        @media (max-width: 400px) {
          font-size: 18px;
          line-height: 20px;
        }
      }
    }

    @media (max-width: 400px) {
      flex-direction: column-reverse;
      align-items: start;
      width: 100vw;
      max-width: 100vw;
    }
  }
}