.tippy-ellipse {
  width: auto;
  position: absolute;
  color: #2BD6DC;

  svg {
    filter: drop-shadow(0px 10px 30px #FFFFFF);
  }
  .tooltip-trigger {
    cursor: pointer;
  }

  &.active {
    .tooltip-trigger {
      color: #E8002A;

      svg {
        filter: drop-shadow(0px 10px 30px rgba(255, 56, 92, 0.37));
      }
    }
  }
}

.tippy-box[data-theme~='popper-welder'] {
  .tippy-content {
    background-color: #fff;
    width: 320px;
    display: flex;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    padding: 30px;

    .tooltip-image {
      object-fit: contain;
      width: 100%;
      margin-bottom: 20px;
    }

    .tooltip-header {
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: var(--dark_blue);
      margin-bottom: 10px;
    }

    .tooltip-text {
      font-size: 16px;
      line-height: 20px;
      color: #8E98B9;
    }
  }
}