<template>
  <div
    class="tippy-ellipse"
    :class="{ active: isActive }"
    :style="{ top: point.top + '%', left: point.left + '%' }"
  >
    <div class="tooltip-trigger" ref="tooltipTrigger" @click="changeState">
      <icon-ellipse-hollow />
    </div>
    <div class="tooltip-content" ref="tooltipContent">
      <img class="tooltip-image" :src="point.picture" alt="#" />
      <div class="tooltip-header">{{ point.title }}</div>
      <div class="tooltip-text">{{ point.description }}</div>
    </div>
  </div>
</template>

<script setup>
import IconEllipseHollow from "../icons/IconEllipseHollow.vue";
import tippy, { sticky } from "tippy.js";
import { onMounted, onUnmounted, ref, watch } from "vue";

const emit = defineEmits(["changeState"]);
const props = defineProps({
  point: {
    type: Object,
    required: true,
  },
  isActive: {
    type: Boolean,
    required: true,
  },
});

const instance = ref(null);

//refs
const tooltipTrigger = ref(null);
const tooltipContent = ref(null);

const changeState = () => {
  emit("changeState", props.point);
};

watch(
  () => props.isActive,
  () => {
    if (props.isActive) instance.value.show();
    else instance.value.hide();
  }
);

onMounted(() => {
  instance.value = tippy(tooltipTrigger.value, {
    content: tooltipContent.value,
    sticky: true,
    ignoreAttributes: true,
    placement: "bottom",
    allowHTML: true,
    hideOnClick: false,
    interactive: true,
    theme: "popper-welder",
    trigger: "manual",
    duration: [0, 0],
    plugins: [sticky],
  });
  if (props.isActive) instance.value.show();
});
onUnmounted(() => {
  instance.value.destroy();
});
</script>

<style lang="scss" src="./TippyEllipse.scss" />
