<template>
  <div class="brands-block">
    <button
      v-for="(brand, brandI) in brandList"
      :key="brandI"
      class="reset-button brand-item"
      :class="{ selected: isBrandSelected(brand) }"
      @click="UIStore.selectBrand(brand)"
    >
      <span class="selected-ring" v-if="isBrandSelected(brand)"></span>
      {{ brand.title }}
    </button>
  </div>
</template>

<script setup>
import { useUIStore } from "../../stores/UI";
import { getBrandsList } from "../../services/fakeApi";
import { onMounted, ref } from "vue";

const UIStore = useUIStore();

const brandList = ref(null);

const isBrandSelected = (brand) => {
  const brandId = brand.id;
  return brandId === UIStore.selectedBrand.id;
};

onMounted(() => {
  brandList.value = getBrandsList();
  if (!UIStore.selectedBrand?.id) UIStore.selectBrand(brandList.value[0]);
});
</script>

<style src="./BrandsBlock.scss" lang="scss" />
