.brands-block {
  height: 470px;
  max-height: 470px;
  overflow-x: auto;

  @media (max-width: 400px) {
    height: auto;
    width: 100vw;
    max-width: 100vw;
    padding: 0 20px;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .brand-item {
    width: 330px;
    font-size: 24px;
    line-height: 32px;
    color: var(--dark_blue);
    display: flex;
    align-items: center;

    &:not(:last-child) {
      padding-bottom: 20px;
      border-bottom: 1px solid #DEE2EF;
      margin-bottom: 20px;
    }

    &.selected {
      color: #2BD6DC;
    }

    @media (max-width: 400px) {
      font-size: 16px;
      line-height: 24px;

      &:not(:last-child) {
        padding-bottom: 0;
        border-bottom: none;
        margin-bottom: 0;
        margin-right: 20px;
      }
    }

    .selected-ring {
      height: 12px;
      width: 12px;
      border-radius: 50%;
      margin-right: 20px;
      background-color: #2BD6DC;
      margin-bottom: 2px;

      @media (max-width: 400px) {
        margin-right: 10px;
       margin-bottom: 0;
        margin-top: 1px;
      }
    }
  }
}