.filters-block {
  margin-right: 15px;
  display: flex;
  width: 451px;
  max-width: 451px;

  @media (max-width: 400px) {
    margin-right: 0;
    padding: 0 20px;
    flex-direction: column;
    width: 100vw;
    max-width: none;
  }

  .filters-col {
    margin-right: 30px;

    @media (max-width: 400px) {
      display: flex;
      margin-right: 0;
      margin-bottom: 15px;
    }
  }

  .filters-content {
  }

  .filters-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
  }

  .filter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 90px;
    border: 3px solid rgba(43, 214, 220, 0.2);
    border-radius: 30px;
    font-size: 18px;
    line-height: 26px;
    color: #6E7CA7;

    &.active {
      font-weight: 700;
      background-color: #2BD6DC;
      border-color: #2BD6DC;
      color: #fff;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @media (max-width: 400px) {
      height: 30px;
      width: 50px;
      font-size: 12px;
      line-height: 16px;
      border: 1px solid var(--vita);
      color: var(--grey);

      &:not(:last-child) {
        margin-bottom: 5px;
        margin-right: 5px;
      }
    }
  }

  .popper-welder {
    &:not(:last-child) {
      margin-right: 30px;
    }

    .popper-activator {
      .drop-down-filter {
        display: flex;
        align-items: center;
        font-size: 18px;
        line-height: 26px;
        color: #6E7CA7;
        margin-bottom: 5px;

        svg {
          transition: transform 200ms;
          margin-left: 10px;
        }
        
        @media (max-width: 400px) {
          font-size: 14px;
          line-height: 20px;
          color: var(--grey);

          &:not(:last-child) {
            margin-right: 18px;
          }
        }
      }

      &[aria-expanded="true"] {
        .drop-down-filter {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .filters-header {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #001789;

    @media (max-width: 400px) {
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 24px;
      color: var(--dark_blue);
    }
  }

  .filters-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: var(--grey);

    @media (max-width: 400px) {
      font-size: 14px;
      line-height: 20px;
      color: var(--dark_blue);
    }
  }
}

.filters-tooltip {
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  .filter-select-item {
    cursor: pointer;
    padding: 20px;
    font-size: 18px;
    line-height: 26px;
    color: #6E7CA7;


    &:hover {
      color: #001789;
      background-color: var(--light_blue);
    }
  }
}