<template>
  <div class="filters-block">
    <div v-if="UIModel" class="filters-col">
      <button
        v-for="volume in UIModel.colFilters[0].content"
        :key="volume.id"
        class="reset-button filter-button"
        :class="{ active: isFilterActive(volume) }"
        @click="setFilterValue('volume', volume)"
      >
        {{ volume.title }}
      </button>
    </div>
    <div v-if="UIModel" class="filters-content">
      <div class="filters-row">
        <tippy-welder v-for="filter in UIModel.rowFilters" :key="filter.key">
          <template v-slot:activator>
            <button class="reset-button drop-down-filter">
              {{ getFilterTitle(filter) }}
              <icon-chevron />
            </button>
          </template>
          <template v-slot:tooltip>
            <div class="filters-tooltip">
              <div
                v-for="filterElement in filter.content"
                :key="filterElement.id"
                class="filter-select-item"
                @click="setFilterValue(filter.key, filterElement)"
              >
                {{ filterElement.title }}
              </div>
            </div>
          </template>
        </tippy-welder>
      </div>
      <template v-if="selectedBrand">
        <div class="filters-header">
          {{ selectedBrand.promoTitle }}
        </div>
        <div class="filters-text">
          {{ selectedBrand.promoDescription }}
        </div>
      </template>
    </div>
  </div>
</template>

<script setup>
import IconChevron from "../icons/IconChevron.vue";
import TippyWelder from "../TippyWelder/TippyWelder.vue";
import { getFilters, getProducts } from "../../services/fakeApi";
import { useUIStore } from "../../stores/UI";
import translateFilters from "../../dictionaries/translateFilters";
import emitter from "../../services/emitter";
import { computed, onBeforeUnmount, onMounted, ref } from "vue";

const UIStore = useUIStore();
const selectedBrand = computed(() => {
  return UIStore.selectedBrand;
});
const filters = computed(() => {
  return UIStore.filters;
});

const allFilters = ref(null);
const UIModel = ref(null);

const getFilterTitle = (filter) => {
  const currentFilter = filters.value.find((storeFilter) => {
    return storeFilter.name === filter.key;
  });
  if (!currentFilter) return translateFilters.ru[filter.key];
  const currentValue = filter.content.find((filterElement) => {
    return filterElement.id === currentFilter.value;
  }).title;
  return currentValue;
};
const setAvailableFilters = () => {
  const availableProducts = getProducts(UIStore.filters);
  allFilters.value = getFilters().reduce((acc, filter) => {
    const filterContent = filter.content.filter((filterElement) => {
      return availableProducts.some((product) => {
        return product[filter.key] === filterElement.id;
      });
    });
    if (!filterContent.length) return acc;
    return [...acc, { ...filter, content: filterContent }];
  }, []);
};

const makeUIModel = () => {
  UIModel.value = {
    colFilters: allFilters.value.filter((filter) => filter.key === "volume"),
    rowFilters: allFilters.value.filter((filter) => filter.key !== "volume"),
  };
};
const setFilterValue = (key, filter) => {
  UIStore.addFilter({ name: key, value: filter.id });
  setAvailableFilters();
  makeUIModel();
};
const isFilterActive = (filter) => {
  return filters.value.some((el) => el.value === filter.id);
};
const setProducts = () => {
  const products = getProducts(UIStore.filters);
  UIStore.setAvailableProducts(products);
};
const initFilters = () => {
  setAvailableFilters();
  makeUIModel();
  setProducts();
};

onMounted(() => {
  initFilters();
  emitter.on("filters_updated", initFilters);
});
onBeforeUnmount(() => {
  emitter.off("filters_updated", initFilters);
});
</script>

<style src="./FiltersBlock.scss" />
