<template>
  <div class="popper-welder">
    <div ref="activator" class="popper-activator">
      <slot name="activator"></slot>
    </div>
    <div ref="tooltip" class="popper-content">
      <slot name="tooltip"></slot>
    </div>
  </div>
</template>

<script setup>
import tippy from "tippy.js";
import { computed, onBeforeUnmount, onMounted, ref, useSlots } from "vue";

const props = defineProps({
  placement: {
    type: String,
    default: "bottom-start",
  },
  content: {
    type: String,
    default: "content",
  },
});
const slots = useSlots();

const instance = ref(null);
//refs
const activator = ref(null);
const tooltip = ref(null);

const popoverContent = computed(() => {
  if (slots.tooltip !== undefined) {
    return tooltip.value;
  } else return props.content;
});

onMounted(() => {
  instance.value = tippy(activator.value, {
    placement: props.placement,
    content: popoverContent.value,
    allowHTML: !!slots.tooltip,
    interactive: true,
    interactiveBorder: 2,
    hideOnClick: true,
    theme: "tippy-welder",
  });
});
onBeforeUnmount(() => {
  instance.value.destroy();
});
</script>
