


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Circe", serif;
}

body {
  min-height: 100vh;
}

.reset-button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: flex;
  color: inherit;
}


