@font-face {
  font-family: 'Circe';
  src: local("Circe"),
  url(./fonts/Circe/Circe-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: local("Circe"),
  url(./fonts/Circe/Circe-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}