<script setup>
import { RouterView } from "vue-router";
</script>

<template>
  <RouterView />
</template>

<style>
@import "assets/base.scss";
@import "assets/fonts.scss";
@import "assets/variables.scss";
</style>
